<meta property="og:type" content="website" />

<meta property="og:url" content="https://analytics.example.org" />
<link rel="canonical" href="https://analytics.example.org" />

<title>analytics.example.org</title>
