<section id="explanation">
  <h3>About this Site</h3>
  <p>
    This data provides a window into how people are interacting with the government online. The data comes from a unified Google Analytics account for U.S. federal government agencies known as the <a href="https://www.digitalgov.gov/services/dap/">Digital Analytics Program</a>. This program helps government agenices understand how people find, access, and use government services online. The program <a href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/#part-4">does not track individuals</a>, and <a href="https://support.google.com/analytics/answer/2763052?hl=en">anonymizes the IP addresses</a> of visitors.
  </p>

  <p>
    Not every government website is represented in this data. Currently, the Digital Analytics Program collects web traffic from almost 300 executive branch government domains, including every cabinet department, out of <a href="https://catalog.data.gov/dataset/gov-domains-api">about 1,350 domains</a> total. We continue to pursue and add more sites frequently; to add your site, <a href="mailto:DAP@gsa.gov">email the Digital Analytics Program</a>.
  </p>

  <p>
    <strong>Top 20 data:</strong> "Now" data includes traffic to a specific, single page&mdash;whereas "7 Days" and "30 Days" data includes traffic to a domain <strong>and</strong> all pages within that domain.
  </p>

  <p>
    This open source project is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="https://github.com/GSA/analytics.usa.gov">code for this website</a> and the <a href="https://github.com/18F/analytics-reporter">code behind the data collection</a> on GitHub.
  </p>

  <p>
    We plan to expand the data made available here. If you have any suggestions, or spot any issues or bugs, please <a href="https://github.com/GSA/analytics.usa.gov/issues">open an issue on GitHub</a> or contact the <a href="mailto:DAP@gsa.gov">Digital Analytics Program</a>.
  </p>
</section>

<section id="data_download">
  <h3>Download the Data</h3>

  <p>
    You can download the data that powers the charts above, in JSON format.
  </p>

  <ul>
    <li>
      <a href="/data/live/realtime.json">
        People online right now</a>
      (Updated every minute)
    </li>
    <li>
      <a href="/data/live/today.json">
        Visits every hour today</a>
      (Updated every hour)
    </li>
    <li>
      <a href="/data/live/devices.json">
        Visits by desktop/mobile/tablet devices over 90 days</a>
      (Updated every day)
    </li>
    <li>
      <a href="/data/live/os.json">
        Visits broken down by Operating System over 90 days</a>
      (Updated every day)
    </li>
    <li>
      <a href="/data/live/windows.json">
        Visits broken down by Windows version over 90 days</a>
      (Updated every day)
    </li>
    <li>
      <a href="/data/live/browsers.json">
        Visits broken down by browser over 90 days</a>
      (Updated every day)
    </li>
    <li>
      <a href="/data/live/ie.json">
        Visits broken down by Internet Explorer version over 90 days</a>
      (Updated every day)
    </li>
    <li>
      <a href="/data/live/top-pages-realtime.json">
        Top 20 pages, ranked by visitors online now</a>
      (Updated every minute)
    </li>
    <li>
      <a href="/data/live/top-domains-7-days.json">
        Top 20 domains, ranked by visits over 7 days</a>
      (Updated every day)
    </li>
    <li>
      <a href="/data/live/top-domains-30-days.json">
        Top 20 domains, ranked by visits over 30 days</a>
      (Updated every day)
    </li>
  </ul>
</section>
