<header id="usa_dot_gov_header">
  <div class="header_container">
    <h1>analytics.<a href="example.org">example.org</a></h1>
    <a id="about" href="#explanation">About this site</a>
  </div>
  <div id="color_bar"></div>
</header>
